.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .6;
}