.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .root {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .root {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (max-width: 639px) {
  .root {
    padding: 0;
  }
}
